*{
    margin:0;
    padding:0;
    font-family: 'Poppins' sans-serif;
    box-sizing: border-box;
}

body{
    background: #000000;
    color:white;
}
#header{
    width: 100%;
    height: 500px;
    font-size:small;
    background-image: url(images/background.png);
    background-size:cover;
    background-position:right;
}
.container{
    padding:10px 10%;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}

nav ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    position:relative;
}
nav ul li a::after{
    content:'';
    width:0;
    height:3px;
    background:#ff004f;
    position:absolute;
    left:0;
    bottom:-6px;
}
nav ul li a:hover::after{
    width:100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;

}
.header-text h2{
    font-size: 18px;
}

.header-text h1 span{
    color:aliceblue;
}
.right-aligned {
    float: right; /* Float the image to the right */
    margin: 10px; /* Add margin for spacing */
    width:800px;
    height:900px;
}
/* styles.css */

.cover {
    background-image: url('cover-image.jpg'); /* Replace 'cover-image.jpg' with the actual path to your cover image */
    background-size: cover;
    background-position: center;
    height: 100vh; /* 100% of the viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff; /* Text color */
    font-size: 36px;
    font-weight: bold;
}

.cover h1 {
    margin: 0;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6); /* Semi-transparent background for text */
    border-radius: 10px;
}
/*-------------------portfolio-----------------*/
#portfolio{
    padding: 50px 0;
}
.work-list{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position:relative;
    overflow: hidden;
}
.work img{
    width:100%;
    border-radius: 10px;
    display:block;
}
.layer {
    display:flex;
    flex-direction: column;
    align-items: center;
    color:black;
    justify-content: center;
    text-align: center;
    font-size: medium;
    height:20%; /* Ensures the content is centered vertically */
}
